/bin
/doc/html
/doc/latex
/scripts/__pycache__
/scripts/smt2
**/Float16TwoSumSE.bin
**/Float16TwoSumSETZ.bin
**/Float16TwoSumSELTZO.bin
**/BFloat16TwoSumSE.bin
**/BFloat16TwoSumSETZ.bin
**/BFloat16TwoSumSELTZO.bin
